<div class="container w-50">

  <div class="d-flex justify-content-start align-items-center mb-4">
    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <h1 class="mb-0 ms-3">Create New Listing</h1>
  </div>

  <%= simple_form_for(@listing) do |f| %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :category, collection: Listing::CATEGORY %>
    <%= f.input :no_of_rooms, input_html: { min:"1" } %>
    <%= f.input :location,
    input_html: {data: {location_autocomplete_target: "location"}, class: "d-none"},
    wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :price_per_night, input_html: { min:"1" } %>
    <%= f.input :no_of_guests, input_html: { min:"1" } %>
    <%= f.input :description %>
    <%# <%= f.association :user, input_html: { value: current_user.id }, as: :hidden %>
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Create Listing", class: "cta-button mt-3"%>
  <% end %>

</div>
