<div class="container w-50">
  <%= simple_form_for(@listing) do |f| %>
    <%= f.input :category, collection: Listing::CATEGORY %>
    <%= f.input :no_of_rooms, collection: 0..6 %>
    <%= f.input :location %>
    <%= f.input :price_per_night %>
    <%= f.input :no_of_guests %>
    <%= f.input :description %>
    <%= f.association :user %>
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
