<div class="container">
  <% if @listing.images.attached? %>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-6 img-card rounded-end rounded-4" style="background-image:url('<%= cl_image_path(@listing.images[0].key) %>')"></div>
      <div class="col-6">
        <div class="grid text-center" style="column-gap: 8px">
          <div class="g-col-6 img-small" style="background-image:url('<%= cl_image_path(@listing.images[1].key) %>')"></div>
          <div class="g-col-6 img-small" style="background-image:url('<%= cl_image_path(@listing.images[2].key) %>')"></div>
          <div class="g-col-6 img-small" style="background-image:url('<%= cl_image_path(@listing.images[3].key) %>')"></div>
          <div class="g-col-6 img-small" style="background-image:url('<%= cl_image_path(@listing.images[4].key) %>')"></div>
        </div>
      </div>
    <% else %>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6 img-card rounded-end rounded-4" style="background-image:url('<%= asset_path('paris.jpg')%>')"></div>
        <div class="col-6">
          <div class="grid text-center" style="column-gap: 8px">
            <div class="g-col-6 img-small" style="background-image:url('<%= asset_path('paris.jpg')%>')"></div>
            <div class="g-col-6 img-small" style="background-image:url('<%= asset_path('paris.jpg')%>')"></div>
            <div class="g-col-6 img-small" style="background-image:url('<%= asset_path('paris.jpg')%>')"></div>
            <div class="g-col-6 img-small" style="background-image:url('<%= asset_path('paris.jpg')%>')"></div>
          </div>
        </div>
    <% end %>
  </div>

  <div class="row pt-5">
    <div class="col-8 p-3">
      <div class="overflow-y-auto d-flex flex-column justify-content-around">
        <div class="listingdes border-bottom pb-3 ">
          <h3 class="fw-bold mb-2"><%= @listing.subtitle.titleize %> , <%= @listing.location.titleize%></h3>
          <h5 class="fw-bold"><%= @listing.no_of_guests %>
          <% if @listing.no_of_guests > 1%>
          guests
          <% else %>
          guest
          <% end %> . <%= @listing.no_of_rooms %>
          <% if @listing.no_of_rooms > 1%>
          rooms
          <% else %>
          room
          <% end %></h5>
        </div>

        <div class="listinguser d-flex align-items-center border-bottom py-3">
          <div>
            <% if @user.profile_picture.attached? %>
              <%= cl_image_tag @user.profile_picture.key, class:"avatar" %>
            <% else %>
              <%= image_tag "user_vector.png", class:"avatar" %>
            <% end %>
          </div>
          <div>
            <h3 class="ms-3 p-0 m-0 fw-bold">Hosted by <%= @user.first_name %> </h3>
          </div>
        </div>

        <div class="listingfulldes pt-3">
          <h5 class="fs-6"><%= @listing.description%></h5>
        </div>
      </div>
    </div>

    <div class="col-4 p-3">
      <div class="position-sticky">
        <%= render '/bookings/formshort', booking: Booking.new, listing: @listing %>
      </div>
    </div>
  </div>

  <div class="section-map">
    <h3>Where you'll be</h3>
    <%= render '/shared/map', marker: @markers %>
  </div>


</div>
