<% bookings.each do |booking| %>
<div>
  <%= link_to booking_path(booking), class: "text-decoration-none text-dark", :action => 'go' do%>
    <div class="d-flex">
      <div>
        <% if booking.listing.images.attached? %>
          <div class="border smaller-card" style="background-image:url('<%= cl_image_path(booking.listing.images[0].key) %>')"></div>
        <% else %>
          <div class="border smaller-card" style="background-image:url('<%= asset_path('paris.jpg')%>')"></div>
        <% end %>
      </div>
      <div>
        <div class="px-3 mb-4 fs-6">
          <div><%= booking.listing.location.split(',')[1].strip %></div>
          <div class="text-body-tertiary"><%= booking.listing.user.first_name %></div>
          <div class="text-body-tertiary"><%= "#{booking.start_date} to #{booking.end_date}"%></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
