<div class="card bg-white p-3"
  data-controller="price-calculator"
  data-price-calculator-price-value = "<%= listing.price_per_night %>"
  data-price-calculator-fees-value = <%= listing.total_fees_notax%>
  >
  <div>
    <span class="fs-5"><strong>$<%= listing.price_per_night %></strong></span>
    <span class="fs-6"> / night</span>
  </div>
  <div data-controller="date-range-picker">
    <%= simple_form_for(booking, method: :get, url: new_booking_path) do |f| %>
      <%= f.hidden_field :listing_id, :value => listing.id %>
      <%= f.input :start_date, as: :string, input_html: { data: { action:"input->price-calculator#calc date-range-picker#update", "price-calculator-target"=> "startDate", "date-range-picker-target" => "startDate" } } %>
      <%= f.input :end_date, as: :string, input_html: { data: { action:"input->price-calculator#calc date-range-picker#update", "price-calculator-target"=> "endDate", "date-range-picker-target" => "endDate" } } %>
      <%= f.input :no_of_guests, collection: 1..10, selected: 1 %>
      <%= f.submit 'Reserve', class: "cta-button w-100" %>
    <% end %>
  </div>
  <div>
    <p class="text-center notes"><em>You won't be charged yet.</em></p>
  </div>
  <div>
    <ul class="price-table p-0 m-0">
      <li>
        <p>$ <%= listing.price_per_night %> x <span data-price-calculator-target="day"> 0 </span> nights</p>
        <p>$ <span data-price-calculator-target="total"> 0 </span></p>
      </li>
      <li>
        <p>Cleaning fee</p>
        <p>$<%= listing.cleaning_fee %></p>
      </li>j
      <li>
        <p>Service fee</p>
        <p>$<%= listing.service_fee %></p>
      </li>
      <hr class="my-0">
      <li>
        <p><strong>Total before taxes</strong></p>
        <p>$<strong><span data-price-calculator-target="totalWithFees">0</span></strong></p>
      </li>
    </ul>
  </div>

</div>
