<%= link_to listing_path(booking.listing), class: "text-decoration-none text-dark", :action => 'go' do %>
  <div class="d-flex">
    <div>
      <% if booking.listing.images.attached? %>
        <div class="border mini-card" style="background-image:url('<%= cl_image_path(booking.listing.images[0].key) %>')"></div>
      <% else %>
        <div class="border mini-card" style="background-image:url('<%= asset_path('paris.jpg')%>')"></div>
      <% end %>
    </div>
    <div>
      <p class="ms-2"><%= booking.start_date  %> <p>
      <p class="ms-2"><%= booking.listing.location %> </p>
    </div>
  </div>
<% end %>
