<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <div class="my-5 pb-5">
        <h1 class="mb-5">Bookings</h1>
        <div>
          <% if @bookings.count == 0 %>
            <%= render "nobooking" %>
          <% else %>
            <% upcoming = @bookings.select { |booking| (booking.start_date >= Date.today) && booking.host_approved == true } %>
            <% if upcoming.count > 0 %>
            <h3 class="my-4">Trips booked</h3>
              <%= render "bookingcards", bookings: upcoming %>
            <% else %>
              <%= render "nobooking" %>
            <% end %>
            <% pending = @bookings.select { |booking| (booking.start_date >= Date.today) && booking.host_approved.nil? } %>
            <% if pending.count > 0 %>
              <h3 class="my-4">Pending acceptance</h3>
              <%= render "bookingcards", bookings: pending %>
            <% end %>
            <% past = @bookings.select { |booking| (booking.start_date < Date.today) && booking.host_approved == true } %>
            <% if past.count > 0 %>
              <h3 class="my-4">Where you've been</h3>
              <%= render "bookingcards", bookings: past %>
            <% end %>
            <% cancelled = @bookings.select { |booking| booking.host_approved == false } %>
            <% if cancelled.count > 0 %>
              <h3 class="my-4">Cancelled trips</h3>
              <%= render "bookingcards", bookings: cancelled %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-sm-12">
      <% upcoming = @bookings.select { |booking| (booking.start_date >= Date.today) && booking.host_approved == true } %>
      <% pending = @bookings.select { |booking| (booking.start_date >= Date.today) && booking.host_approved.nil? } %>
      <% if upcoming.count > 0 || pending.count > 0 %>
      <div class="sticky-top bookings-map">
        <%= render 'shared/map', marker: @markers %>
      </div>
      <% end %>
    </div>
  </div>
</div>
