<div class="container-fluid bg-white px-5 pb-4"
  data-controller="price-calculator"
  data-price-calculator-price-value = "<%= @booking.listing.price_per_night %>"
  data-price-calculator-fees-value = <%= @booking.listing.total_fees%>
>
  <div class="d-flex justify-content-start align-items-center mb-4">
    <%= link_to listing_path(@booking.listing) do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <h1 class="mb-0 ms-3">Confirm and pay</h1>
  </div>

  <div class="row">
    <div class="col-7">
      <div>
        <%= render "formlong", booking: @booking %>
      </div>
    </div>

    <div class="col-5">
      <div class="card bg-white p-3">
        <div class="listing-card d-flex">
        <% if @booking.listing.images.attached? %>
          <div class="border small-card flex-shrink-0" style="background-image:url('<%= cl_image_path(@booking.listing.images[0].key) %>')"></div>
        <% else %>
          <div class="border small-card flex-shrink-0" style="background-image:url('<%= asset_path('paris.jpg')%>')"></div>
        <% end %>
          <div class="listing-card-info ms-3">
            <p class="text-secondary"><em><%= "#{@booking.listing.no_of_rooms} rooms for #{@booking.listing.no_of_guests} guests"%></em></p>
            <p><strong><%= @booking.listing.title %></strong></p>
          </div>
        </div>

        <hr>

        <div>
          <p><strong>Price details</strong></p>
          <ul class="price-table p-0 m-0">
            <li>
              <% duration = (@booking.end_date - @booking.start_date).to_i %>
              <% price_per_night = @booking.listing.price_per_night %>
              <p>$<%= price_per_night %> x <span data-price-calculator-target="day"><%= duration%></span> nights</p>
              <p>$<span data-price-calculator-target="total"><%= "#{duration*price_per_night}"%></span></p>
            </li>
            <li>
              <p>Cleaning fee</p>
              <p>$<%= @booking.listing.cleaning_fee%></p>
            </li>
            <li>
              <p>Service fee</p>
              <p>$<%= @booking.listing.service_fee%></p>
            </li>
            <li>
              <p>Occupancy taxes and fees</p>
              <p>$<%= @booking.listing.tax_and_others%></p>
            </li>
            <li>
              <p>Credits</p>
              <p>$0</p>
            </li>
            <li>
              <p><strong><%= "Total(USD)" %></strong></p>
              <p>$<strong><span data-price-calculator-target="totalWithFees"><%= duration*price_per_night + @booking.listing.total_fees %></span></strong></p>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
