<div class="border mb-3">
  <% @bookings.each do |booking| %>
    <p>Start date: <%= booking.start_date %></p>
    <p>End date: <%= booking.end_date %></p>
    <p>No. of guests: <%= booking.no_of_guests %></p>
    <p>Approval status: <%= booking.host_approved %></p>
    <p>Guest name: <%= booking.user.first_name %></p>
    <%= link_to "Accept", approve_booking_path(booking), data: {turbo_method: :patch} %>
    <%= link_to "Reject", reject_booking_path(booking), data: {turbo_method: :patch} %>
  <% end %>
</div>

<div class="border mb-3">
  <% @listings.each do |listing| %>
    <p><%= listing.location %></p>
    <p><%= listing.title %></p>
    <p><%= pluralize(listing.no_of_rooms, 'room') %></p>
    <p>$<%= listing.price_per_night %> SGD per night</p>
    <%= link_to "View Details", listing_path(listing)%>
    <%= link_to "Edit", edit_listing_path(listing)%>
    <%= link_to "Delete",
        listing_path(listing),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>
</div>

<%# TO DO: list refreshes and the order changes %>
