<nav class="navbar navbar-expand-lg bg-light border-bottom py-3 px-5 flex-column position-sticky top-0">

  <div class="container-fluid d-flex justify-content-between">
    <a class="logo my-3" href=<%= root_path %>><%= image_tag "airbnb_logo.png", alt: "Airbnb", width: 100 %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <% if user_signed_in? %>

          <% if current_user.listings.present? %>
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" href=<%= dashboard_path %>>Dashboard</a>
            </li>
            <li class="nav-item me-3 d-flex align-items-center">
              <a class="nav-link" href=<%= new_listing_path %>>New Listing</a>
            </li>
          <% else %>
            <li class="nav-item me-3 d-flex align-items-center">
              <a class="nav-link" href=<%= new_listing_path %>>Be an Airbnb Host!</a>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.profile_picture.attached? %>
                <%= cl_image_tag current_user.profile_picture.key, class: "avatar my-2", alt: "dropdown menu"%>
              <% else %>
                <%= image_tag "user_vector.png", class: "avatar my-2", alt: "dropdown menu"%>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end mb-3">
              <li>
                <a class="dropdown-item" href=<%= bookings_path %>>My Trips</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </li>
            </ul>
          </li>

        <% else %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "user_vector.png", class: "avatar my-2", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container my-2">
    <div class="row w-100">
      <%= form_with method: :get, url: results_listings_path, class: "d-flex mx-auto col-lg-8 col-md-12" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control rounded-pill",
              placeholder: "Input a destination"
          %>
        <%= submit_tag "Search", name: "", class: "cta-button btn-primary ms-2 rounded-pill" %>
      <% end %>
    </div>
  </div>

</nav>
